.form {
  &__container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 70%;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }
    &::-ms-input-placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  &__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: $gray;
    border-image-slice: 1;

    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
      font-weight: 700;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 62px;
    height: 62px;
    font-size: 30px;
    background-color: transparent;
    color: $gray;
    border-radius: 5px;
    border: 2px solid $gray;
  }
}
