#lightbox {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox {
  &__close {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 5px;

    &:before {
      content: "x"; // here is your X(cross) sign.
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      font-family: Arial, sans-serif;
    }
  }
}
